.vscode

# Java
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv

# Log file
*.log

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test